.dash_wrapper{
	
	margin:0 auto;
	
	overflow:hidden;
	

	.recomended{
		box-sizing:border-box;
		overflow:hidden;
		padding-bottom:5em;

		h1{
			font-family: $body_font;
			font-weight: 800;
			font-size: $header_size;
			color:$font_color;
		}

		.event_wrapper{
			box-sizing:border-box;


			.recomended_events{
				width: 40%;
				margin:2%;
				background-color: $event_color;
				padding:.5em;
				align: center;
				float: left;
				color:$font_color;
				

				h2{
					font-size: $subheader_size;
					font-family: $body_font;
					margin-bottom: 0em;
					margin:5%;

					
				}
				p{
					font-family: $body_font;
					font-size:$body_size;
					margin:5%;

				}
				a{
					margin:5%;
					font-family: $body_font;
					font-size: $body_size;
					color: $button_color;
				}
			} //closing recomended_events//
		

			.register{
				background-color:$button_color;
			}

		}//closing event_wrapper
		.event_wrapper:nth-of-type(3){
				display: none;
			}

	}//closing recomended tag//




	//--------------------------------------------------News Feed-->

	.news_feed{

		h1{
			font-family: $body_font;
			font-size: $header_size;
			color: $font_color;
		}


		.news_event{
			overflow: hidden;
			box-sizing:border-box;
			.news_prof_pic{
				display: block;
				margin: 0 auto;
				margin-bottom: 0.5em;

				img{
				height: 4em;
				width: 4em;

				
			}


				}//closing news_prof_pic

				.news_content{
					display:block;
					padding-bottom:1em;
					color: $font_color;
					margin-top: 0em;
					margin-bottom: 1em;
					border-bottom: 1px solid $font_color;ß

					h3{
						font-family: $body_font;
						margin-bottom: 0em;
					}

					p{
						font-family: $body_font;
						margin-top: 0em;


						a{
							color: $button_color;
						}
					}
					.trip_photos{

					img{
						height:5em;
						width: 5em;
						
					}//closing img

					.view_btn{
						background-color:$button_color;
						text-decoration: none;
						color: $background-color;
						padding:0.75em;

					}//closing view_btn tag

					}//closing trip photos


					}//closing news_content


		}//closiing news_event


	}//closing news_feed

}//closing dash_wrapper//

.dash_side{
	
	

	.profile{


		.profile_img{
				img{
				height: 5em;
				width: 5em;
			}//closing img tag
		}//closing profile_img tag

		h2{
				font-family: $body_font;
				color: $font_color;

		}

		h3{
				font-family: $body_font;
				color: $font_color;
		}

	}//closing profile tag

		h2{
				color: $font_color;
				font-family: $body_font;
			}

	.upcoming_events{

			p{
				color: $font_color;
				font-family: $body_font;
			}
			.find_more_button{
				color: $font_color;
				font-family: $body_font;
				text-decoration: none;
				border:1px solid $font_color;
			}

	}//closing upcoming_events tag

	.dash_connections{

		.dash_friend{
			display: inline-block;

			.friend_img{
				
				img{
					height: 7em;
					width: 7em;
				}
			}//closing friend_img
			h3{
				color: $font_color;
				font-family: $body_font;
			}

		}//closing dash_friend tag

		a{
			color: $font_color;
			font-family: $body_font;
			text-decoration: none;
			border:1px solid $font_color;
		}
	}//closing dash_connections tag

	.dash_items{

		ul{
			display: inline-block;
			font-family: $body_font;
			color: $font_color;
		}
	}



}//closing dash_side tag













