@media(min-width:595px){


//-------------------------------------------dashboard breakpoint 1-----//
	.dash_page_wrapper{
		overflow: hidden;
		box-sizing:border-box;

	
		.dash_wrapper{
			float:left;
			width: 56%;

			.recomended{

			.event_wrapper:nth-of-type(3){
				display: inline;
			}

			}//closkng recomended 

			}//closing dash_wrapper

		.dash_side{
			float:right;
			width: 42%;
			background-color:$event_color;
			

			.upcoming_events{
				margin:0 auto;
			}


			
		}//closing dash_side
	}//closing dash_page_wrapper



//-------------------------------------------home breakpoint 1-----//

	.home_wrapper{
		width: 100%;
		
		.row{

			.about_site{
				width:50%;
				margin:0 auto;

			}//closing about_site

			.get_started{
				
				.home_btns{

				}

			}//closing get_started


		}//closing home wrapper

	}//closin home_wrapper


//--------------------------------------------Event breakpoint 1-----//

}//closing media tag