@media(min-width:595px){


//-------------------------------------------dashboard breakpoint 1-----//
	.dash_page_wrapper{
		overflow: hidden;
		box-sizing:border-box;

	
		.dash_wrapper{
			float:left;
			width: 56%;

			.recomended{

			.event_wrapper:nth-of-type(3){
				display: inline;
			}

			}//closkng recomended 

			}//closing dash_wrapper

		.dash_side{
			float:right;
			width: 42%;
			

			.profile{
				display: inline-block;


			}//closing profile
			

			.upcoming_events{
				margin:0 auto;
				background-color:$event_color;

			}


			
		}//closing dash_side
	}//closing dash_page_wrapper



//-------------------------------------------home breakpoint 1-----//


		
		
		.row{
			.home_wrapper{

				.about_site{
					width: 60%;
					margin:0 auto;

					p{

					}

				}//closing about_site

				.get_started{
					
					.home_btns{

					}

				}//closing get_started


		}//closing home wrapper

	}//closing row


//--------------------------------------------Event breakpoint 1-----//




}//closing media 

@media(min-width:595px){

	//--------------------------------------------Profile breakpoint 1-----//


	.prof_wrapper{

		.prof_events{


			.upcoming_events{
			float:left;
			width: 40%;

			margin:0 auto;


				.upcoming_img{
					


					img{

						

					}



				}//closing upcoming_img


			}//closing upcoming_events


		}//closing prof_events

		.prof_photos{
		clear: both;

		h1{
			font-family: $body_font;
			font-size: $bodysubheader_size;
			color: $font_color;
			text-align: center;
		}

		img{
			height:7em;
			width: 7em;
			float:left;
		}
	}//closing prof_photos


	}//closing prof_wrapper

	}//closing media query for Profile page














