
.event_wrapper{

    .tab-wrapper {

     

      .tab {
        color: $font_color;
        padding: 1em;
        text-decoration: none;
        float: left;
      }


      .tab-content {
        overflow: hidden;
        line-height: 1.6;
        padding: 1em;
        display: none;
        clear: both;
        box-sizing:border-box;

          //-------------------------filter options---------------------//
       .event_type{
             width: 48%;
             margin:0 auto;
              color:$font_color;
              display: inline-block;
              

            }
        .event_date{
              width: 48%;
             margin:0 auto;
          color: $font_color;
          display: inline-block;
          
        }

        .number_people{
          width: 48%;
             margin:0 auto;
          color: $font_color;
          display: inline-block;
          
          
        }

        .distance{
          width: 48%;
             margin:0 auto;
          color: $font_color;
          display: inline-block;
         
          
        }
  //---------------------------------------rec events on events page
        .event_wrapper{
          margin:0 auto;
          border-bottom:1px solid $font_color;
            .recomended_events{
               
                text-align: center;
                padding-bottom:2em;
                border-bottom:1px solid $font_color;
                line-height: 1.75em;
                background-color:$event_color;
                line-height: 1em;
                width: 80%;
                max-width: 220px;
                margin:0 auto;
                margin-bottom: 2em;
                

        .rec_img{
          width: 10em;
          margin:0 auto;
          padding-top:2em;
        img{
          height: 10em;
          width: 10em;
          
          }
        }

        .rec_cont{
          h2{
          font-family: $body_font;
          font-size: $subheader_size;
          color: $font_color;
          text-align: center;
          padding-bottom: 1em;
          line-height: 1em;
          }

          p{
            color: $font_color;
            font-family: $body_font;

          }
          a{
            color: $event_color;
            display: block;
          }

          a:nth-of-type(2){
            padding-top:1em;
          }
       }//end of rec_cont//

            }//closing recomended_events

          h1{
            text-align: center;
          }

        }//closing event_wrapper


      }//closing tab content

    .active {
      display: block;
      background-color:$event_color;
      color: white;
    }

     


    }//closing tab-wrapper//

}//closing event wrapper//