//HOME PAGE STYLING//




	
	

	.row{
		.home_wrapper{
	background: url("/images/forestsky.jpg");
	background-size: 100% 100%;
	background:cover;


		

		h1{
			font-family: $body_font;
			font-size: $header_size;
			margin: 2%;
			text-align: center;
			padding:2em;
		}

		.about_site{
				width:60%;
				margin:0 auto;

			h2{
				font-family: $body_font;
				font-size: $subheader_size;
				text-align: center;
			}

			p{
				font-size: $body_size;
				font-family: $body_font;
				line-height: 1.5em;
				padding-bottom:3em;
				margin: 2%;

			}


		}//closing about_site

		.get_started{

			h2{
				text-align: center;
				padding-bottom:2em;
			}

			.home_btns{
				margin:0 auto;
				width: 50%;
				text-align: center;
				
				a{
					color:$background_color;
					text-decoration: none;
					background-color:$button_color_alt;
					padding:1em;
					display: inline-block;
					margin:5%;
					border-radius: 5px;
					
				}
			}
		}//closing get_started


		}//closing row

	}//closing home_wrapper