.prof_wrapper{
	


	.prof_sect{
		
		padding-top: 2em;
		background: url("/images/forestpath.png");
		background-size:cover;
		background-repeat:no-repeat;
		background-size:100% 100%;
		overflow: hidden;

		


		.prof_pic{
			background: url("/images/profilepic2.png");
			height:10em;
			width: 10em;
			background-size:cover;
			background-repeat:no-repeat;
			margin:0 auto;
			border:0.5em solid $font_color;

			

			}//closing prof_pic
		
		.prof_info{
			text-align: center;

			h1{
				font-family: $body_font;
				font-size: $header_size;
				color:$background_color;
				margin:0;

			}
			h2{
				font-family: $body_font;
				font-size: $subheader_size;
				color:$background_color;
				padding-bottom:2em;
				margin-top:1em;
				margin:0 auto;
			}


			}//closing prof_info

	}//closing prof_sect

	.prof_events{
		border-bottom:1px solid $font_color;
		background-color:$event_color;
		overflow: hidden;
		box-sizing:border-box;

		h1{
				font-family: $body_font;
				font-size: $bodysubheader_size;
				color: $font_color;
				text-align: center;
				
				}


		.upcoming_events{
			
			text-align: center;
			padding-bottom:2em;
			line-height: 1.75em;
			padding:2em;
			color:$font_color;

				.upcoming_img{
					width: 50%;
					margin:0 auto;
					
				img{
					height: 8em;
					width: 8em;
					
					}
				}
				

				p{
					color: $font_color;
					font-family: $body_font;
					font-size: $body_size;
				}
				a{
					color: $button_color;

				}
				


				h2{
					font-family: $body_font;
					font-size: $subheader_size;

				}

		}//closing upcoming_events tag
			.find_more_button{
					display: block;
					color: $font_color;
					font-family: $body_font;
					text-decoration: none;
					background-color:$button_color_alt;
					margin:0 auto;
					width: 128px;
					text-align:center;
					padding:0.5em;


					a{
						text-decoration: none;
						color:$background_color;


					}
				}
	}//closing prof_events
	
	.prof_photos{
		clear: both;

		h1{
			font-family: $body_font;
			font-size: $bodysubheader_size;
			color: $font_color;
			text-align: center;
		}

		img{
			height:5em;
			width: 5em;
			float:left;
		}
	}//closing prof_photos

	.prof_friends{
			margin:2%;
			border-bottom:1px solid $font_color;

			.prof_friend{
				display: inline-block;
				margin:0 auto;


				.friend_img{
					height: 7em;
					width: 7em;
					margin: 0 auto;
					
					img{
						height: 8em;
						width: 8em;
						border:1px solid $font_color;
					}
				}//closing friend_img
				h3{
					color: $font_color;
					font-family: $body_font;
				}

			}//closing dash_friend tag

			a{
				color: $font_color;
				font-family: $body_font;
				text-decoration: none;
				border:1px solid $font_color;
			}
		}//closing dash_connections tag

		.prof_items{
			margin:2%;
			text-align: center;

			ul{
				display: inline-block;
				font-family: $body_font;
				color: $font_color;
				line-height: 1.5em;
				list-style:none;
				
			}
		}//closing prof_items


}//closing prof_wrapper















