p {
	margin: 0;
}

.prof_wrapper{
	


	.prof_sect{
		
		padding-top: 2em;
		background: url("/images/forestpath.png");
		background-size:cover;
		background-repeat:no-repeat;
		background-size:100% 100%;
		overflow: hidden;

		


		.prof_pic{
			background: url("/images/profilepic2.png");
			height:10em;
			width: 10em;
			background-size:cover;
			background-repeat:no-repeat;
			margin:0 auto;
			border:0.5em solid $background_color;

			

			}//closing prof_pic
		
		.prof_info{
			text-align: center;

			h1{
				font-family: $body_font;
				font-size: $header_size;
				color:$background_color;
				margin:0;

			}
			h2{
				font-family: $body_font;
				font-size: $subheader_size;
				color:$background_color;
				padding-bottom:2em;
				margin-top:1em;
				margin:0 auto;
			}


			}//closing prof_info

	}//closing prof_sect

	


	
	.prof_photos{
		
		background-color:$background_white;
		overflow: hidden;



		h1{
			font-family: $body_font;
			font-size: $bodysubheader_size;
			color: $font_color;
			text-align: center;

		}

		.prof_trip_img{

			

			img{
				height:5em;
				widows:5em;
				float:left;
				margin:1em;

			}
		}
	}//closing prof_photos





	.prof_friends{
			background-color:$event_color;
			overflow: hidden;
			
			

			h1{
				font-family: $body_font;
				font-size: $bodysubheader_size;
				color: $font_color;
				text-align: center;

			}



			.prof_friend{
				margin:2%;
				clear: both;
					.friend_img {
						width: 25%;
						float: left;
						img{
						width: 100%;


					}
					}
				
					
				
				
				}//closing friend_img
				p{
					color: $font_color;
					font-family: $body_font;
					font-weight: 800;
					float: left;
					padding-left: 0.5em;
				}

	

			.find_more_button{
					clear: both;
					display: block;
					color: $font_color;
					font-family: $body_font;
					font-size: $subheader_size;
					text-decoration: none;
					background-color:$button_color_alt;
					margin:0 auto;
					width: 200px;
					text-align:center;
					padding:0.5em;
					border-radius:5px;
					margin-bottom: 1em;


					a{
						text-decoration: none;
						color:$background_color;


					}
				}
		}//closing dash_friends tag

		.prof_items{
			
			margin:2%;
			text-align: center;


			ul{
				display: inline-block;
				font-family: $body_font;
				color: $font_color;
				line-height: 1.5em;
				list-style:none;
				text-align: left;
				
			}
		}//closing prof_items


}//closing prof_wrapper















