.prof_wrapper{


	.prof_sect{
		
		padding-top: 2em;
		background: url("/images/forestpath.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-size:100% 100%;


		.prof_pic{
			background: url("/images/profilepic2.png");
			height:10em;
			width: 10em;
			background-size:cover;
			background-repeat:no-repeat;
			margin:0 auto;
			border:0.5em solid $font_color;
			

			}//closing prof_pic
		
		.prof_info{
			text-align: center;

			h1{
				font-family: $body_font;
				font-size: $header_size;
				color:$background_color;
				margin:0;

			}
			h2{
				font-family: $body_font;
				font-size: $subheader_size;
				color:$background_color;
				padding-bottom:2em;
				margin-top:1em;
				margin:0 auto;
			}


			}//closing prof_info

	}//closing prof_sect

	.prof_events{
		.upcoming_events{
			
			text-align: center;
			padding-bottom:2em;
			border-bottom:1px solid $font_color;
			line-height: 1.75em;
			background-color:$event_color;
			padding:2em;

				.upcoming_img{
					width: 10em;
					margin:0 auto;
					padding-top:2em;
				img{
					height: 10em;
					width: 10em;
					
					}
				}
				h1{
				font-family: $body_font;
				font-size: $header_size;
				color: $font_color;
				text-align: center;
				
				}

				p{
					color: $font_color;
					font-family: $body_font;
				}
				a{
					color: $button_color;

				}
				.find_more_button{
					color: $font_color;
					font-family: $body_font;
					text-decoration: none;
					border:1px solid $font_color;
				}

		}//closing upcoming_events tag
	}

}//closing prof_wrapper