.dash_wrapper{


	.recomended{
		box-sizing:border-box;
		overflow:hidden;

		h1{
			font-family: $body_font;
			font-weight: 400;
			font-size: $header_size;
		}

		.event_wrapper{
			box-sizing:border-box;



			.recomended_events{
				width: 40%;
				margin:2%;
				background-color: #D5D6DC;
				padding:.5em;
				align: center;
				float: left;

				h2{
					font-size: $subheader_size;
					font-family: $body_font;
					margin-bottom: 0em;
					margin:5%;
					
				}
				p{
					font-family: $body_font;
					font-size:$body_size;
					margin:5%;

				}
				a{
					margin:5%;
					font-family: $body_font;
					font-size: $body_size;
					color: $button_color;
				}
			} //closing recomended_events//

			.register{
				background-color:$button_color;
			}

		}//closing event_wrapper

	}//closing recomended tag//

}//closing dash_wrapper//














