/***-------------------------------------------------------- Site header*/

.site_header{
    background-color: $main_theme;
    padding:0.5em;

    .header_wrapper{
        overflow: hidden;

        .site-title{
            font-family: $header_font;
            font-size: 28px;
            color:$background_color;
            text-decoration: none;
            display: inline-block;

        }


        .site-nav{
            float: right;
            padding-top:0.5em;
            .nav_menu{
                .nav_profile{



                    a{
                        
                        font-family: $body_font;
                        color:$background-color;

                }


                }//end of nav_pic tag

            }//end of nav_menu tag
        }//end of site-nav tag

    }//end of header_wrapper tag

}//end of site_header tag//


.site-footer{
    background-color: $main_theme;
    height:3em;
}

body{
    background-color:$background_color;
}













